body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f0f0ff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

*::after-letter {
  text-transform: capitalize;
}
.container {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

.container a {
    text-decoration: none;
    color: #c82333;
}

h1 {
  margin-bottom: 20px;
  color: #333;
  font-size: 24px;
}

input[type="text"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  width: 94%;
  padding: 10px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

#add-task:hover {
  background-color: #218838;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-task {
  background-color: #dc3545;
  color: #fff;
  border-radius: 3px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
}

.delete-task:hover {
  background-color: #c82333;
}

.delete-button {
  background: #333;
  border: none;
  color: #ffffff;
  cursor: pointer;
  transition: color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
}
